@import "./veriable.scss";
@import "./Icon/static/liveicon.css";
@import "./veriable.scss";
// @import "./Icon/static/liveicon.css";

html.dark-theme,
.dark-theme {
    background-color: #000000;
}

button,
page,
input,
div, p,
body,
uni-view,
uni-button,
input,
view {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


swiper,
uni-view,
scroll-view,
picker,
picker-view,
view,
div {
	display: block;
}

uni-button,
uni-input,
uni-textarea,
input,
textarea {
	border: none;
	outline: none;
}

u, b, i, p,
div, view,
span, text {
    word-break: break-all;
}

.statusbar-height {
    height: var(--status-bar-height);
}

.statusbar-padding {
    padding-top: var(--status-bar-height);
}

.tabbar-height {
    height: var(--window-bottom);
}

// Safe area
.safe-padding-bottom {
	padding-bottom: env(safe-area-inset-bottom);
	padding-bottom: constant(safe-area-inset-bottom);
}
.safe-fixed-bottom {
	bottom: env(safe-area-inset-bottom);
	bottom: constant(safe-area-inset-bottom);
}

.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
// Flex
.row,
.flex {
    // #ifndef APP-NVUE
	display: flex !important;
    // #endif
    flex-direction: row !important;
}
.wrap,
.flex-wrap {
    flex-wrap: wrap;
}
.row-start,
.flex-justify-start {
    // #ifndef APP-NVUE
	display: flex;
    // #endif
    flex-direction: row;
    justify-content: flex-start;
}
.row-center,
.flex-justify-center {
    // #ifndef APP-NVUE
	display: flex;
    // #endif
    flex-direction: row;
    justify-content: center;
}
.row-end,
.flex-justify-end {
    // #ifndef APP-NVUE
	display: flex;
    // #endif
    flex-direction: row;
    justify-content: flex-end;
}
.row-between,
.flex-justify-between {
    // #ifndef APP-NVUE
	display: flex;
    // #endif
    flex-direction: row;
    justify-content: space-between;
}
.row-around,
.flex-justify-around {
    // #ifndef APP-NVUE
	display: flex;
    // #endif
    flex-direction: row;
    justify-content: space-around;
}
.row-align-start,
.flex-align-start {
    // #ifndef APP-NVUE
	display: flex;
    // #endif
    flex-direction: row;
    align-items: flex-start;
}
.row-align-center,
.flex-align-center {
    // #ifndef APP-NVUE
	display: flex;
    // #endif
    flex-direction: row;
    align-items: center;
}
.row-align-end,
.flex-align-end {
    // #ifndef APP-NVUE
	display: flex;
    // #endif
    flex-direction: row;
    align-items: flex-end;
}
.col,
.flex-column {
    // #ifndef APP-NVUE
	display: flex !important;
    // #endif
    flex-direction: column !important;
}
.row-inline,
.inline-flex {
    // #ifndef APP-NVUE
	display: inline-flex;
    // #endif
    flex-direction: row;
}
.full,
.flex-full {
	flex: 1;
}

.flex-center {
    // #ifndef APP-NVUE
	display: flex;
    // #endif
    flex-direction: row;
	justify-content: center;
	align-items: center;
}
.flex-column-center {
    // #ifndef APP-NVUE
	display: flex;
    // #endif
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.col-center,
.flex-column-align-center {
    // #ifndef APP-NVUE
	display: flex;
    // #endif
	flex-direction: column;
	align-items: center;
}
.col-align-center,
.flex-column-justify-center {
    // #ifndef APP-NVUE
	display: flex;
    // #endif
	flex-direction: column;
	justify-content: center;
}

//  Item
.cell-item {
	width: 100%; 
    min-height: $i-height-l;
	@include center;
	padding: 0 $i-padding-l;
	.image {
		width: 35px;
		height: 35px;
		margin-right: $i-padding-m;
	}
	.set-item-input,
	input {
		width: $i-width-xxxl;
		height: 100%;
		text-align: right;
	}
	.title {
		font-size: $i-font-l;
	}
	&.column {
		flex-direction: column;
		align-items: flex-start;
		padding: $i-padding-l;
		.set-item-input,
		input {
			text-align: left;
			width: 100%;
			height: $i-height-m;
		}
	}
}
//  Border
.border-left {
	border-left: $i-border-s solid $i-color-border;
}
.border-right {
	border-right: $i-border-s solid $i-color-border;
}
.border-dashed {
	border: $i-border-s dashed $i-color-border;
}
.border-dashed-top {
	border-top: $i-border-s dashed $i-color-border;
}
.border-dashed-bottom {
	border-bottom: $i-border-s dashed $i-color-border;
}
.border-top {
	border-top: $i-border-s solid $i-color-border;
}
.border-bottom {
	border-bottom: $i-border-s solid $i-color-border;
}
.border {
	border: $i-border-s solid $i-color-border;
}
.border-primary {
	border: $i-border-s solid $i-color-primary;
}

// Radius
.radius-xs {
	border-radius: $i-radius-xs;
}
.radius-s {
	border-radius: $i-radius-s;
}
.radius-m {
	border-radius: $i-radius-m;
}
.radius-l {
	border-radius: $i-radius-l;
}
.radius-xl {
	border-radius: $i-radius-xl;
}
.radius-xxl {
	border-radius: $i-radius-xxl;
}
.radius-circle {
	border-radius: 50%;
}

// Circle
.circle-xxs {
	width: 10px;
	height: 10px;
}
.circle-xs {
	width: 20px;
	height: 20px;
}
.circle-s {
	width: 30px;
	height: 30px;
}
.circle-m {
	width: 40px;
	height: 40px;
}
.circle-l {
	width: 50px;
	height: 50px;
}
.circle-xl {
	width: 60px;
	height: 60px;
}
.circle-xxl {
	width: 100px;
	height: 100px;
}

// Scrollor
:deep {
	.uni-scroll-view ::-webkit-scrollbar {
		 /* 隐藏滚动条，但依旧具备可以滚动的功能 */
		 display: none;
		 width: 0;
		 height: 0;
		 color: transparent;
		 background-color: transparent;
	}
	::-webkit-scrollbar {
		 display: none;
		 width: 0;
		 height: 0;
		 color: transparent;
		 background-color: transparent;
	}
}


//   text
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.text-xxs {
	font-size: $i-font-xxs !important;
}
.text-xs {
	font-size: $i-font-xs !important;
}
.text-s {
	font-size: $i-font-s !important;
}
.text-m {
	font-size: $i-font-m !important;
}
.text-l {
	font-size: $i-font-l !important;
}
.text-xl {
	font-size: $i-font-xl !important;
}
.text-xxl {
	font-size: $i-font-xxl !important;
}

.text-wrap {
	word-break: break-all;
	white-space: normal;
}

.text-nowrap {
	white-space: nowrap;
}
// 字体颜色
.font-black { color: $i-text; }
.font-white { color: $i-text-white; }
.font-primary { color: $i-color-primary }
.font-success { color: $i-color-success }
.font-wait { color: $i-color-wait }
.font-warning { color: $i-color-warning }
.font-error { color: $i-color-error }
.font-info { color: $i-color-info }
.font-disabled { color: $i-color-disabled }
.font-placeholder { color: $i-color-placeholder }
.font-deepgray { color: $i-color-deepgray }
.font-gray { color: $i-color-gray }
.font-lightgray { color: $i-color-lightgray }

// 背景颜色
.bg-primary { background-color: $i-color-primary }
.bg-success { background-color: $i-color-success }
.bg-wait { background-color: $i-color-wait }
.bg-warning { background-color: $i-color-warning }
.bg-error { background-color: $i-color-error }
.bg-info { background-color: $i-color-info }
.bg-disabled { background-color: $i-color-disabled }
.bg-placeholder { background-color: $i-color-placeholder }
.bg-deepgray { background-color: $i-color-deepgray }
.bg-gray { background-color: $i-color-gray }
.bg-lightgray { background-color: $i-color-lightgray }
.bg-white { background-color: $i-color-white }
.bg-black { background-color: $i-color-black }
.bg-layout { background-color: $i-bg-layout }
.bg-container { background-color: $i-bg-container }
.bg-mask { background-color: $i-color-mask }
.bg-shadow { background-color: $i-color-shadow }

.border-color { border-color: $i-color-border !important }

// margin
.margin-s {
	margin: $i-margin-s !important;
}
.margin-m {
	margin: $i-margin-m !important;
}
.margin-l {
	margin: $i-margin-l !important;
}
.margin-cs {
	margin: $i-margin-s auto !important;
}
.margin-cm {
	margin: $i-margin-m auto !important;
}
.margin-cl {
	margin: $i-margin-l auto !important;
}
.margin-ls {
	margin-left: $i-margin-s !important;
}
.margin-lm {
	margin-left: $i-margin-m !important;
}
.margin-ll {
	margin-left: $i-margin-l !important;
}
.margin-l0 {
	margin-left: 0 !important;
}
.margin-bs {
	margin-bottom: $i-margin-s !important;
}
.margin-bm {
	margin-bottom: $i-margin-m !important;
}
.margin-bl {
	margin-bottom: $i-margin-l !important;
}
.margin-b0 {
	margin-bottom: 0 !important;
}
.margin-rs {
	margin-right: $i-margin-s !important;
}
.margin-rm {
	margin-right: $i-margin-m !important;
}
.margin-rl {
	margin-right: $i-margin-l !important;
}
.margin-r0 {
	margin-right: 0 !important;
}
.margin-ts {
	margin-top: $i-margin-s !important;
}
.margin-tm {
	margin-top: $i-margin-m !important;
}
.margin-tl {
	margin-top: $i-margin-l !important;
}
.margin-t0 {
	margin-top: 0 !important;
}
// Padding
.padding-s {
	padding: $i-padding-s !important;
}
.padding-m {
	padding: $i-padding-m !important;
}
.padding-l {
	padding: $i-padding-l !important;
}
.padding-ls {
	padding-left: $i-padding-s !important;
}
.padding-lm {
	padding-left: $i-padding-m !important;
}
.padding-ll {
	padding-left: $i-padding-l !important;
}
.padding-l0 {
	padding-left: 0 !important;
}
.padding-bs {
	padding-bottom: $i-padding-s !important;
}
.padding-bm {
	padding-bottom: $i-padding-m !important;
}
.padding-bl {
	padding-bottom: $i-padding-l !important;
}
.padding-b0 {
	padding-bottom: 0 !important;
}
.padding-rs {
	padding-right: $i-padding-s !important;
}
.padding-rm {
	padding-right: $i-padding-m !important;
}
.padding-rl {
	padding-right: $i-padding-l !important;
}
.padding-r0 {
	padding-right: 0 !important;
}
.padding-ts {
	padding-top: $i-padding-s !important;
}
.padding-tm {
	padding-top: $i-padding-m !important;
}
.padding-tl {
	padding-top: $i-padding-l !important;
}
.padding-t0 {
	padding-top: 0 !important;
}
// input
.uni-input-placeholder,
input::placeholder {
	color: $i-color-placeholder;
}

.card {
	width: $i-width-xxxxl;
	margin: $i-margin-l auto;
	box-shadow: $i-shadow;
	background-color: $i-bg-container;
	border-radius: $i-radius-m;
	overflow: hidden;
}


// switch设置默认主题色配置, 勿删
::v-deep switch {
	 &.i-switch .uni-switch-input.uni-switch-input-checked {
		background-color: $i-color-primary;
		border-color: $i-color-primary;
	}
}

// 按钮/卡片 长按效果类型
.active,
.ActiveDefault,
.active-default {
	opacity: 1;
    transition-property: width, height, opacity, transform, background-color;
    transition-duration: 0.3s;
	&:active {
		opacity: 0.65;
	}
}
.ActiveGray,
.active-gray {
	opacity: 1;
	transition: all .3s;
    transition-duration: 0.3s;
    transition-property: width, height, opacity, transform, background-color;
	&:active {
		background-color: $i-color-gray !important;
		opacity: 0.75;
	}
}

.active-lightgray {
	transition: all .3s;
    transition-duration: 0.3s;
    transition-property: width, height, opacity, transform, background-color;
	&:active {
		background-color: $i-color-lightgray !important;
		opacity: 0.9;
	}
}

.ellipsis {
    @include ellipsis1;
}


.ellipsi2,
.ellipsis2 {
    @include ellipsis(2);
}


.ellipsis3 {
    @include ellipsis(3);
}

.uni-toast,
uni-toast {
	z-index: $i-index-xxl !important;
	.uni-sample-toast {
		z-index: $i-index-xxl;
	}
}