body,
main, header, footer,
div, view, p, table,
ul, ol, li,
span, text,
// 防止button被转义
.IButton, .IInput,
button, input
{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	background-color: transparent;
}

input::placeholder {
	color: #BCC1C2;
}

@import "./variable.scss";
@import "./common.scss";
@import "./active.scss";
